:root {
  --nextra-primary-hue: 142deg;
  --nextra-primary-saturation: 76%;
  
  --green-primary: #4ADE80;
  --green-secondary: #22C55E;
}

html[class~=dark] {
  --nextra-primary-hue: 142deg !important;
  --nextra-primary-saturation: 76% !important;
  
  /* Custom link colors */
  --nextra-primary-color: var(--green-primary) !important;
  
  /* Accent colors for dark mode */
  --nextra-accent-color: var(--green-secondary) !important;
}

/* Custom button styling */
.nx-bg-primary-400 {
  background-color: var(--green-primary) !important;
}

.nx-bg-primary-400:hover {
  background-color: var(--green-secondary) !important;
}

/* Custom link hover effects */
.nx-text-primary-600:hover {
  color: var(--green-secondary) !important;
} 

.command {
    border: 1px solid var(--green-primary);
    border-radius: 4px;
    padding: 0.5rem 1rem;
    color: #fff;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .command:hover {
    background-color: var(--green-secondary);
  }